<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <nav class="navbar">
        <ul>
          <li><img src="{{url_for('static', filename='user.png')}}" alt="Account" width="50" height="50">
          <a href="#accountsettings" onclick="toggleAccountModal()">Account Settings</a></li>
          <li class="centered-title">
            <img src="{{url_for('static', filename='agent4.png')}}" alt="SARA" width="50" height="50">
            <a href="{{ url_for('chat') }}">SARA – Support Assistant Recovery Agent</a>
          </li>
          <li>
        <div class="hamburger" onclick="toggleModal()">
          <a>Navigation</a>
          &#9776;
        </ul>
        </div>
    </nav>
      
      <div class="modal" id="menuModal">
        <div class="modal-content">
          <span class="close" onclick="toggleModal()">&times;</span>
          <h2>More Pages</h2>
          <ul>
            <li><a href="{{ url_for('chat') }}">SARA - Chat</a></li>
            <li><a href="{{ url_for('router') }}">Internet Checks</a></li>
            <!-- <li><a href="#blog">Blog</a></li>
            <li><a href="#faq">FAQ</a></li> -->

            <!-- <ul class="account-menu">
              <li><h2>Account Options</h2></li>
              <li>Log In</li>
              <li>Change Password</li>
              <li>Create Account</li>
              <li>Account Settings</li>
            </ul> -->
          </ul>
        </div>
      </div>
      
      <div class="modal-account" id="menuModal-account">
        <div class="modal-content-account">
          <span class="close-acc" onclick="toggleAccountModal()">&times;</span>
          <h2>Account Options</h2>
          <ul>
            <li>Log In</li>
            <li>Change Password</li>
            <li>Create Account</li>
            <li>Account Settings</li>
          </ul>
        </div>
      </div>
  </head>
  <body>
{% block content %}
{% endblock content %}
  </body>
  <script>
    function toggleModal() {
        const modal = document.getElementById('menuModal');
        modal.classList.toggle('show');
    }

    function toggleAccountModal() {
        const modal = document.getElementById('menuModal-account');
        modal.classList.toggle('show');
    }

    window.onclick = function(event) {
        const modal = document.getElementById('menuModal');
        const accountModal = document.getElementById('menuModal-account');
        if (event.target === menuModal) {
          menuModal.classList.remove('show');
        } else if (event.target === accountModal) {
          accountModal.classList.remove('show');
        }
    };
  </script>
</html>