{% extends 'base.html' %}

{% block content %}
<main class="chat-area">
    <div class="chat-message" id="chatbox">
        <h1 class="title">Chimpamzee Chat</h1>
        <p>Hello! How can I assist you today?</p>
    </div>
</main>

<div class="message-input" id="userInput">
    <input type="text" placeholder="Message Chimpanzee" id="textInput">
    <button>Send</button>
</div>
</div>
    <script>
      function getBotResponse() {
        var rawText = document.getElementById("textInput").value;
        var userHtml = '<p class="userText"><img src="static/user.jpg" alt="User" style="width: 30px; height: 30px; margin-right: 5px;"><span style="color: LightSeaGreen;">User: </span>' + rawText + "</p>";
        document.getElementById("textInput").value = "";
        document.getElementById("chatbox").innerHTML += userHtml;
        document.querySelector(".chat-message").scrollTo({ top: document.querySelector(".chat-message").scrollHeight, behavior: "smooth" });
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/get?msg=" + rawText, true);
        xhr.onload = function() {
          if (xhr.status === 200) {
            var botHtml = '<p class="botText"><img src="static/chimp.jpg" alt="User" style="width: 30px; height: 30px; margin-right: 5px;"><span style="color: SaddleBrown;">Chipmamzee: </span>' + xhr.responseText + "</p>";
            document.getElementById("chatbox").innerHTML += botHtml;
            document.querySelector(".chat-message").scrollTo({ top: document.querySelector(".chat-message").scrollHeight, behavior: "smooth"
          })
        }
        };
        xhr.send();
      }
      document.getElementById("textInput").addEventListener("keypress", function(e) {
        if (e.keyCode === 13) {
          getBotResponse();
        }
      });
    </script>
</body>
{% endblock %}